<!DOCTYPE html>
<html>
<body>
<head>
<link rel="stylesheet" href='/static/style.css' />
<title>On This Day - what happened today in history?</title>
</head>
<h1>On This Day</h1>
<h3>What happened today in history?</h3><ul>

 <li> <a href="https://en.wikipedia.org/wiki/Cromwell's_Act_of_Grace">1654</a> : Cromwell's Act of Grace, which pardoned the people of Scotland for any crimes committed during the Wars of the Three Kingdoms, was proclaimed in Edinburgh.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/Mary_Dixon_Kies">1809</a> : Mary Dixon Kies became the first woman to receive a patent from the United States Patent and Trademark Office.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/American_Civil_War">1864</a> : American Civil War: Union Lt. Gen. Ulysses S. Grant's Overland Campaign in Virginia began with the Battle of the Wilderness in Spotsylvania County.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/Carnegie_Hall">1891</a> : Carnegie Hall (interior pictured) in New York City, built by the philanthropist Andrew Carnegie, officially opened with a concert conducted by Pyotr Ilyich Tchaikovsky.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/Pitcher">1904</a> : Pitching for the Boston Americans, Cy Young threw the first perfect game in modern professional baseball.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/Second_Italo-Ethiopian_War">1936</a> : Second Italo-Ethiopian War: Italian troops captured the Ethiopian capital Addis Ababa unopposed.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/World_War_II">1940</a> : World War II: A squad of 250 Norwegian volunteers defending Hegra Fortress surrendered to a superior Nazi force after a 25-day siege.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/World_War_II">1945</a> : World War II: American and German troops fought side-by-side at the Battle for Castle Itter, defending a prison against Waffen-SS forces.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/World_War_II">1945</a> : World War II: The citizens of Prague spontaneously rose up against the city's German occupiers.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/Netherlands_Carillon">1960</a> : The Netherlands Carillon was inaugurated in Arlington, Virginia, on the 15th anniversary of Dutch Liberation Day.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/Project_Mercury">1961</a> : Project Mercury: American astronaut Alan Shepard (pictured) made a sub-orbital spaceflight on board Freedom 7, becoming the second person to travel into outer space.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/Special_Air_Service">1980</a> : The British Special Air Service recaptured the Iranian embassy in London after a six-day siege by Iranian Arab separatists.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/1981_Irish_hunger_strike">1981</a> : After a 66-day hunger strike, Irish republican Bobby Sands died of starvation in HM Prison Maze.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/1991_Washington%2C_D.C._riot">1991</a> : Riots broke out in Washington, D.C., after a rookie police officer shot a Salvadoran man in the chest.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/Twenty-seventh_Amendment_to_the_United_States_Constitution">1992</a> : The Twenty-seventh Amendment to the United States Constitution was ratified, 202 years after it was first proposed.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/Michael_P._Fay">1994</a> : American teenager Michael P. Fay was caned in Singapore for theft and vandalism, a punishment that the United States deemed to be excessive for a teenager committing a non-violent crime.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/Kenya_Airways_Flight_507">2007</a> : Kenya Airways Flight 507 crashed immediately after takeoff from Douala International Airport in Cameroon, resulting in the deaths of all 114 people aboard.</li> 

 <li> <a href="https://en.wikipedia.org/wiki/Aeroflot_Flight_1492">2019</a> : Aeroflot Flight 1492 was struck by lightning after leaving Moscow's Sheremetyevo International Airport and caught fire during the subsequent emergency landing attempt, killing 41 people on board.</li> 

</ul>
<a href="https://onthisday.shumyiyi.repl.co/extended">Read extended version</a>
</body>
</html>
